
.site-header__menu-content {
        opacity: 0;
        -webkit-transform: scale(.75);
                transform: scale(.75);
        -webkit-transform: background;
                transform: background;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        z-index: -10;
        position: relative;
        margin-top: 20px;
        text-align: center;
        margin-left: 0;
    }


@media (max-width: 549px)  {
  .site-header__menu-content {
    visibility: hidden;
    display: none;
  }
}


@media only screen and (max-width: 880px) and (min-width: 550px) {

.site-header__menu-content {
            width: 100%!important;
            opacity: 0;
            padding-top: 16px;
            z-index: 1;
            margin-top: -28px;
            padding-top: 0;
            -webkit-transform: scale(1);
                    transform: scale(1)
    }
        }

@media only screen and (min-width: 880px) {

.site-header__menu-content {
         margin-top: -28px;
            opacity: 1;
            z-index: 1;
           -webkit-transform: scale(1);
                    transform: scale(1);
            float: right;
            visibility: visible;
    }
            
        }

@media only screen and (min-width: 881px) {

.site-header__menu-content {
            margin-top: 0px;
            opacity: 1;
            z-index: 9991;
            padding-top: 0;
            -webkit-transform: scale(1);
                    transform: scale(1);
            float: right;
            visibility: visible;
    }
            @clearfix;

        }

.site-header__menu-content--is-visible {
            display: block;
            visibility: visible;
            opacity: 1;
            z-index: 9991;
            -webkit-transform: scale(1);
                    transform: scale(1);
        }

.primary-nav {
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(.75);
          transform: scale(.75);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  z-index: -10;
}


.sub-menu {
      display: none;
      position: absolute;
      top: 60px;
      -webkit-transform: scale(.95);
          transform: scale(.95);
           overflow: show;
}

 
#menu-nawigacja-glowna li:hover .sub-menu {
display: block;
   transition: all .3s ease-out;
   overflow: show;
   padding-top: 50px;
   margin-top: -55px;
}




@media (max-width: 991px) {

.menu-nawigacja-glowna-container {
  visibility: none;
  display: hidden;
}

}

@media (min-width: 991px) {

.primary-nav {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  padding-top: 0px
}
  }

.primary-nav ul { 
    margin: 0;
    padding: 0;
    margin-top: 9px;
  }



@media only screen and (min-width: 880px) and (max-width: 880px) {

.primary-nav ul {
    margin-left: 350px!important
  }
      
    }

.primary-nav li {
    
    list-style: none;
  }

@media (min-width: 420px) {

.primary-nav li {
      display: inline-grid!important
  }
    }

@media (min-width: 880px) {

.primary-nav li {
     -webkit-transition-duration: 0.3s;
             transition-duration: 0.3s;
     -webkit-transform: perspective(1px) translateZ(0);
             transform: perspective(1px) translateZ(0);
     padding: 0;
     list-style: none;
    display: inline-block;
  }
  }

.primary-nav li:hover {
     -webkit-transform: scale(1.18);
             transform: scale(1.18);
     -webkit-transition-timing-function: cubic-bezier(.45, 2.0, 0.32, -0.35);
             transition-timing-function: cubic-bezier(.45, 2.0, 0.32, -0.35);


  }

.primary-nav a {
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    font-size: 2.5rem;
    color: #FFF;



  }



@media (min-width: 530px) {

.primary-nav a {
      margin-left: 10px



  }
  }

.primary-nav-is-visible {
  visibility: visible;
  display: initial;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  }
